{%- if shape == "matmul" -%}
template<bool transpose_{{ matmul_first }}, bool transpose_{{ matmul_second }}>
{% endif -%}
{%- if this -%}
Tensor {{ name }}({{ args }}) const;
{%- else -%}
friend Tensor {{ name }}({{ args }});
{%- endif %}